.contact-container {
    width: 50%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1;
    position: relative;
}

.contact-form-fild {
    display: flex;
    align-items: center;

}

.contact-form-fild span {
    background: #f7b90f;
    color: #000;
    padding: 15px 30px;

}

.contact-form-fild span i {
    color: #000;
    font-size: 20px;
    font-weight: 900;
}

.contact-form input,
textarea {
    background: #3F3F44;
    border-radius: 4px;
    width: 100%;
    padding: 21px 10px;
    border: none;
    color: #fff;
}

.contact-form textarea {
    background: #3F3F44;
    border-radius: 4px;
    width: 100%;
    padding: 80px 20px;
    border: none;
    color: #fff;
    
}

.contact-form button {
    padding: 15px 20px;
    background-color: #f7b90f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 24%;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

button:hover {
    background-color: #3f3f44;
    color: #fff;
}

.contact-form-section {
    background: #35353a;
    margin-bottom: 30px;
    position: relative;
    padding: 80px 0 60px 70px;
}

.sec-dec {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 120px;
    background: #3F3F44;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.sec-dec:before {
    content: '';
    position: absolute;
    right: 0;
    width: 70%;
    top: 50%;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
}

.sec-dec:after {
    content: '';
    position: absolute;
    right: calc(70% - 60px);
    width: 60px;
    top: 50%;
    height: 1px;
    z-index: 2;
    background: #F7B90F;
}

.pattern-bg {
    position: absolute;
    bottom: 10px;
    width: 50%;
    right: 0;
    height: 320px;
    background: url(https://trion.kwst.net/dark/images/pattern2.png) repeat;
    opacity: 0.08;
}

.form-heading {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

.form-heading span {
    color: #F7B90F;
}

.contact-form-section .txt-secondary {
    border-bottom: 1px solid #999;
    margin-bottom: 35px;
    position: relative;
}
.contact-form-section .txt-secondary::before{
    content: '';
    position: absolute;
    right: 0;
    width: 6px;
    height: 6px;
    top: 100%;
    margin-top: -3px;
    border-radius: 100%;
    background: #F7B90F;
}
textarea,input:focus-visible {
    outline: none !important;
}

@media (max-width: 768px) {
.contact-container{
width: 100%;
}
.contact-form-section {
    z-index: 1;
    padding: 80px 20px 60px 20px;
}
.sec-dec {
    z-index: -2;
}
.contact-form button{
    width: 50%;
}
}